#navbar {
    display: grid;
    height: 100px;
    width: 850px;
    margin: 50px;
    grid-template-columns: 5fr 20fr 15fr 15fr;
    padding: 25px;
    background: linear-gradient(to right, #898178ff, #BB957Bff);
    border: 1px solid linear-gradient(to right, #898178ff, #BB957Bff);
    border-radius: 45px;
    z-index: 999;
}


#home-button {
    height: 45px;
    border-radius: 45%;
}

#home-button:hover {
    height: 45px;
    background-color: rgba(35, 35, 35,0.5);
}

#navbar > * {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}