.civil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:250px;
    background-color:rgba(25,25,25,0.75);
    color: rgb(200,200,200);
    list-style: none;
}

.civil > li {
    padding: 15px;
    margin: 10px;
}
