#cart-items{
    margin: 50px;
    padding: 20px;
    text-align: center;
    height: 350px;
    background: linear-gradient(to right, #B17949ff, #785C39ff);
    overflow-y: scroll;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#cart-items::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#cart-items::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#cart-items::-webkit-scrollbar-thumb
{
	background-color: #792108ff;
}


.cart-items-individual {
    display: grid;
    grid-template-columns: 1fr 15fr 5fr;
}

.cart-amount{
    padding: 5px;
    text-align: right;
}

.cart-name{
    padding: 5px;
    text-align: left;
}

.cart-price{
    padding: 5px;
    text-align: right;
}

.order-total{
    margin-top: 35px;
    text-align: right;
}

.order-div{
    margin-top: 50px;
    text-align: right;
}


.order-button {
    background-color: #792108ff;
    border: none;
    height: 35px;
    width: 100px;
}

.order-button:hover {
    opacity: 0.75;
}

.order-button:active {
    opacity: 1;
    border: 1px solid black;
}
