#introduction-area{
    height:250px;
    text-align: center;
    margin: 35px;
    padding: 35px;
    background-image: url("../Images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-text {
    text-align: center;
}

