*, *::before, *::after {
  box-sizing: border-box;
}

#main-div{

}

#root{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  width: 100%;
  background: url(./Images/background.jpeg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
